.row
  .col.s10
    .input-field.col.s12
      input.validate(type='text', placeholder="YOUTUBE" id="url")
  .col.s1
    a.btn-floating.btn-large.waves-effect.waves-light.blue.right(href="javascript:addVideo()")
      i.fa.fa-plus
